<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184556556300-k3ntlfib7juk629k4c4sd9gm1pc3ip6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184556556300-k3ntlfib7juk629k4c4sd9gm1pc3ip6h</string>
	<key>API_KEY</key>
	<string>AIzaSyDfBelFFBXRMvpFnVH_rbvFApbmUWjAvM8</string>
	<key>GCM_SENDER_ID</key>
	<string>184556556300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLoginBloc</string>
	<key>PROJECT_ID</key>
	<string>fluttertutorials</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertutorials.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184556556300:ios:1a9bbb412fce09d5795e29</string>
	<key>DATABASE_URL</key>
	<string>https://fluttertutorials.firebaseio.com</string>
</dict>
</plist>